    * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Overpass, sans-serif;
    color: var(--text-color);
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ff7a01;
    --text-color: #7d919f;
    --h-color: white;

    --bg-color-1: #001925;
    --bg-color-2: #022731;

    --fs-1: 3.4rem;
    --fs-2: 3.3rem;
    --fs-3: 2rem;
    --fs-4: 1.2rem;

    --fw-1: 600;
    --fw-2: 400;

    --page-width: 90%;


    --menu-icon-spacing: 2rem;
    --menu-icon-height: 4px;
}

.logo {
    color: var(--h-color);
    font-size: 2rem;
}

.primary-color {
    color: var(--primary-color);
}

.popup-menu {
    flex-direction: column;
    height: 100vh;
    width: 70vw;
    position: fixed;
    background-color: var(--bg-color-1);
    z-index: 3;
    top: 0;
    right: -70vw;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    transform: 0.8s;
}

.open-popup {
    display: flex;
    right: 0;
    transition: 0.8s;
}

.xryst-header-container a.logo {
    display: flex;
    align-items: center;
}

.popup-menu-button {
    background-color: transparent;
    font-size: var(--fs-2);
    border: none;
    height: var(--fs-2);
    z-index: 4;
}

.logo-s {
    background: -webkit-linear-gradient(315deg, var(--primary-color) 50%, var(--h-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: var(--fs-1);
    line-height: 1em;
    color: var(--h-color);
    margin-bottom: 1em;
}

h2 {
    font-size: var(--fs-2);
    line-height: 1em;
    margin-bottom: 2rem;
    padding-top: 1em;
}

h3 {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: var(--fs-3);
}

p {
    font-size: var(--fs-4);
    line-height: 1.5em;
}

header {
    background-color: var(--bg-color-1);
}

.xryst-header-container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.xryst-nav {
    display: none;
}

.xryst-nav a:hover {
    color: var(--primary-color);
}

img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4rem 0.5rem rgb(28, 28, 28);
}

.xryst-hero {
    padding-top: 2rem;
    background-color: var(--bg-color-1);
}

.hero-layout img {
    display: none;
}

.hero-layout {
    padding: 2rem 2rem 12rem;
}

.xryst-hero {
    background-image: url(images/hero-img.jpg);
    background-size: cover;
}

.title-and-intro {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.title-and-intro p {
    color: rgb(238, 238, 238);
}

.hero-and-about-mid-overlay {
    width: 100%;
}

.overlay {
    width: 8rem;
    --width: 8rem;
    height: 8rem;
    color: var(--primary-color);
    background-color: var(--primary-color);
    position: absolute;
    transform: translateY(calc(var(--width) / -2));
    border-radius: 50%;
    right: calc(50vw - var(--width) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay ion-icon {
    font-size: var(--fs-1);
    color: rgb(29, 28, 28);
}

.xryst-about {
    background-color: var(--bg-color-2);
}

.about-layout {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column-reverse;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 2rem;
    padding-bottom: 4rem;
    padding-top: 12rem;
}

.xryst-gallery {
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: column;
}

.xryst-gallery h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    display: grid;
    margin-bottom: 1em;
}

.gallery-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    overflow: hidden;
    height: 32rem;
    margin-bottom: 3rem;
}

.gallery-layout img {
    height: 10rem;
    width: 10rem;
    margin-bottom: 0;
    box-shadow: inset 0 0 1.5rem black;
}

.xryst-footer {
    background-color: var(--bg-color-2);
}

.footer-content {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.totop {
    font-size: 2.8rem;
    border: 3px solid white;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.totop a {
    height: 1em;
    padding-bottom: 5px;
}

.totop ion-icon {
    color: white;
}

.socials {
    display: none;
}

.socials-menu { 
    padding-top: 2em;
    display: flex; 
    background-color: var(--bg-color-1);
    gap: 1rem; 
    margin: 0;
    border: none;
    justify-content: center;
    padding-bottom: 2em;
} 

.socials-menu ion-icon {
    color: white;
}

.socials-menu > * { 
    border: 2px solid white; 
    height: var(--fs-3); 
    font-size: var(--fs-3); 
    padding: 0.5rem; 
    border-radius: 50%; 
} 

.socials-menu :is(.fb, .linkedin, .skype):hover { 
    background-color: rgb(92, 92, 252); 
} 

.git:hover { 
    background-color: black; 
} 

.insta:hover { 
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
}

.xryst-footer strong {
    color: white;
}

.made-by {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0 1em 0;
    background-color: var(--bg-color-1);
    width: 100%;
}

.show-gallery {
    height: fit-content;
}

.seemore-container {
    display: none;
    justify-content: center;
    margin-bottom: 3rem;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
   
button.seemore {
    width: 12rem;
    height: auto;
}
   
button.seemore .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--primary-color);
    border-radius: 1.625rem;
}
   
button.seemore .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--bg-color-1);
}
   
button.seemore .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.seemore .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--bg-color-1);
    border-right: 0.125rem solid var(--bg-color-1);
    transform: rotate(45deg);
}
   
button.seemore .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
button:active .circle {
    width: 100%;
}
   
button:active .circle .icon.arrow {
    background: var(--bg-color-1);
    transform: translate(1rem, 0);
}
   
button:active .button-text {
    color: var(--bg-color-1);
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9998;
    position: sticky;
    height: 0;
    top: 50vh;
}

.contact-form-container {
    max-width: 680px;
    display: flex;
    flex-wrap: wrap;
}

.contact-form-1,
.contact-form-2 {
    max-height: 460px;
}

.contact-form-1 {
    transform: translateY(-90vh);
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    transition: 1s;
}

.contact-form-2 {
    transform: translateY(90vh);
    background-color: var(--bg-color-2);
    border-radius: 20px;
    transition: 1s;
}

.contact-form-2 form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 1rem 1.5rem 0 1.5rem;
    margin-bottom: 3rem;
}

.contact-form-container h3 {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #7d919f;
    color: rgb(231, 231, 231);
}

.contact-form-1 p {
    margin: 1rem 1.5rem 0 1.5rem;
}

textarea {
    height: 7rem;
    width: 78%;
    border-radius: 20px;
    padding: 10px;
    background-color: #28474f;
}

.group {
    position: relative;
}
   
.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}
   
.input:focus {
    outline: none;
}
   
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.input:focus ~ label, .input:valid ~ label {
    top: -8px;
    font-size: 14px;
    color: var(--primary-color);
}
   
.bar {
    position: relative;
    display: block;
    width: 200px;
}
   
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--primary-color);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
   
.bar:before {
    left: 50%;
   }
   
.bar:after {
    right: 50%;
}
   
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}
   
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}
   
.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
     background: var(--primary-color);
    }
   
    to {
     width: 0;
     background: transparent;
    }
}

form button {
    font-family: inherit;
    font-size: 10px;
    background: rgb(47, 72, 148);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}
   
button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

path {
    color: rgb(219, 219, 219) !important;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
   
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
   
button:hover svg {
    transform: translateX(2.2em) rotate(45deg) scale(1.1);
}
   
button:hover span {
    transform: translateX(6em);
}
   
button:active {
    transform: scale(0.95);
}
   
@keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
}

#submit {
    color: white !important;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}

.contact {
    height: 3rem;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: white;
    background-color: var(--bg-color-2);
    z-index: 1;
}
   
.contact:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.contact:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.contact:hover {
    color: #ffffff;
    border: 1px solid var(--primary-color);
}
   
.contact:hover:before {
    top: -35%;
    background-color: var(--primary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
   }
   
.contact:hover:after {
    top: -45%;
    background-color: var(--primary-color);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

@media (min-width: 550px) {
    :root {
        --fs-1: 5rem;
    }

    .about-layout img {
        height: 25rem;
        width: 20rem;
    }

    .about-layout {
        flex-direction: row;
    }

    .about-layout h2 {
        padding-top: 1rem;
    }
}

@media (min-width: 760px) {
    :root {
        --fs-1: 5.5rem;
    }
}

@media (min-width: 880px) {
    .about-layout {
        flex-direction: row;
        flex-flow: row-reverse;
        text-align: right;
    }

    .about-layout img {
        height: 35rem;
        width: 29rem;
    }

    .contact-form-1 {
        height: 70vh;
        width: 330px;
        display: block;
    }

    .contact-form-2 {
        height: 70vh;
        width: 340px;
        border-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media (min-width: 1450px) {
    :root {
        --page-width: 1350px;
    }

    .seemore-container {
        display: none;
    }

    .popup-menu-button {
        display: none !important;
    }

    .title-and-intro p {
        color: var(--text-color);
    }

    .about-layout,
    .gallery-layout,
    .xryst-header-container,
    .footer-content {
        width: var(--page-width);
        margin: 0 auto;
    }

    .totop {
        right: calc(50vw - 675px);
    }

    .hero-layout img {
        display: block;
        width: fit-content;
    }

    .xryst-hero {
        background-image: none;
        overflow: hidden;
    }

    .hero-layout {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        width: var(--page-width);
        margin: 0 auto;
    }

    .xryst-nav {
        display: flex;
        gap: 5rem;
        margin-right: 2rem;
        align-items: center;
    }

    .xryst-gallery img {
        background-color: white;
    }

    .gallery-layout {
        display: grid;
        grid-template-columns: repeat(7, 10rem);
        gap: 1rem;
        grid-auto-rows: 10rem;
        height: fit-content;
        overflow: auto;
    }

    .rows-2 {
        grid-row: span 2;
    }

    .cols-2 {
        grid-column: span 2;
    }

    .rows-cols-2 {
        grid-row: span 2;
        grid-column: span 2;
    }

    .gallery-layout img {
        border-radius: 10px;
        width: auto;
        height: auto;
    }

    img.rows-cols-2 {
        width: calc(240px * 1.75);
        height: calc(192px * 1.75);
    }

    .overlay {
        width: 12rem;
        --width: 12rem;
        height: 12rem;
        right: calc(50vw - 600px);
    }
}

@media (max-width: 360px) {
    :root {
        --fs-1: 3rem;
    }

    .socials-menu {
        flex-wrap: wrap;
    }

}

.popup-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: calc(var(--menu-icon-height) * 11);
}

/* ***** MENU BUTTON ANIMATION *****  */

#nav-icon4  {
    margin: 0 !important;
}

#nav-icon4 span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: calc(var(--menu-icon-spacing) * 0.4);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: calc(var(--menu-icon-spacing) * 0.8);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: calc(var(--menu-icon-height) / 2);
  left: 7px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 36px;
  left: 7px;
}

#nav-icon4 {
    margin: 0;
    width: 60px;
    height: 2rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    margin: 0;
    display: block;
    position: absolute;
    height: var(--menu-icon-height);
    width: 100%;
    background: white;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div#nav-icon4 {
    display: flex;
    align-items: center;
}

header {
    position: sticky !important;
    top: 0;
}

header, .popup-menu {
    z-index: 9999;
}

.popup-menu-button {
    z-index: 10000 !important;
}

.overlay {
    z-index: 1 !important;
}
