<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="/static/todolist-css.css" rel="stylesheet">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <meta name="description" content="This is a project on the subject 'Introduction to the science of the electrical engineer'">
    </head>
    <body>
        <header id="top">
            <h1 class="primary-color">To Do List</h1>
        </header>
        <main>
            <section class="todolist-action" id="action">
                <div class="action-content">
                    <input type="text" name="task" id="taskInput" class="input" placeholder="What would you like to do?">
                    <button class="button-add">Add</button>
                </div>
            </section>
            <section class="todolist-list">
                <div class="list-layout">
                    <h2>ToDo List</h2>
                    <div class="actions-layout">
                        
                        <div class="categories">
                            <div>List</div>
                            <div>Status</div>
                            <div>Close</div>
                        </div>

                        <ul class="task-list">

                            
                        </ul>
                    
                    </div>
                </div>
            </section>
        </main>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" async></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
        <script src="/static/js/todolist-js.js" defer></script>
    </body>
</html>


